<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="manifest" href="manifest.json">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}
        <script src="service-butler.js"></script>
    </head>
    <body>
        {% block body %}{% endblock %}

        <!--
        <button id="installPWA" style="display:none;">Install App</button>

        <script>
        // Until I decide to make a banner bar, I'm going to stick with omnibox

        // Enable Add to Home Screen (A2HS)
        // let deferredPrompt;
        // window.addEventListener('beforeinstallprompt', (event) => {
        //     event.preventDefault();
        //     deferredPrompt = event;
        //     document.getElementById('installPWA').style.display = 'block';
        // });

        // document.getElementById('installPWA').addEventListener('click', () => {
        //     if (deferredPrompt) {
        //         deferredPrompt.prompt();
        //         deferredPrompt.userChoice.then((choiceResult) => {
        //             if (choiceResult.outcome === 'accepted') {
        //                 console.log('User accepted the install prompt');
        //             }
        //             deferredPrompt = null;
        //         });
        //     }
        // });
        </script>
        -->
    </body>
</html>
