<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="manifest" href="manifest.json">
        <link rel="icon" type="image/png" href="icon.png">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <!--
        <button id="installPWA" style="display:none;">Install App</button>

        <script>
        // Until I decide to make a banner bar, I'm going to stick with omnibox

        // Enable Add to Home Screen (A2HS)
        // let deferredPrompt;
        // window.addEventListener('beforeinstallprompt', (event) => {
        //     event.preventDefault();
        //     deferredPrompt = event;
        //     document.getElementById('installPWA').style.display = 'block';
        // });

        // document.getElementById('installPWA').addEventListener('click', () => {
        //     if (deferredPrompt) {
        //         deferredPrompt.prompt();
        //         deferredPrompt.userChoice.then((choiceResult) => {
        //             if (choiceResult.outcome === 'accepted') {
        //                 console.log('User accepted the install prompt');
        //             }
        //             deferredPrompt = null;
        //         });
        //     }
        // });
        </script>
        -->

        <script src="service-butler.js"></script>
    </body>
</html>
